  
<p id="notice"><%= notice %></p>
    
    <div class="row">
      <% @cities.each do |city| %>

          <div class="col-md-4">
            <h2 class="box1"><%= city.name %></h2>
            <p class="box2"><%= city.country_name %> </p>
            <p><%= city.temp_max %></p>
            <p><%= link_to "Show", city, :class => "btn mybutton mybtnsize" %></p>
            <p><%= link_to 'Edit', edit_city_path(city), :class => "btn btn-primary mybtnsize"  %></p>
          </div>
      <% end %>
    </div>

<p><%= link_to 'New City', new_city_path %></p>

